/* InputWithIconAndText.css */
.input-with-icon-and-text {
  width: 100%;
  height: 100%; 
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: lightgreen; */
}

.icon-container {
  position: absolute;
  left: 10px;
}
.eye-icon-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

}
.eye-icon-container:hover {
  opacity: 0.8;
}


.icon {
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

input {
  padding-left: 30px;
  transition: box-shadow 0.3s ease; /* Add transition for smooth box shadow change */
  border-color: #6b7280;
}

.text-container {
  margin-left: 10px;
}

.focused .icon {
  color: inherit; /* Use the color provided by the iconColor prop */
}

.focused input {
  box-shadow: 0 0 5px 2px rgba (77, 194, 116, 0.5); /* Add box shadow with same color */
  background-color: rgba(255, 255, 255, 1);

}
