:root { 
--gray_50_01:#f8f9ff; 
--indigo_A200_21:#546ef621; 
--blue_A400:#1877f2; 
--indigo_A200:#546ef6; 
--red_500:#ea4335; 
--gray_50:#f4f6ff; 
--black_900_87:#00000087; 
--white_A700_33:#ffffff33; 
--indigo_A200_5f:#546ef65f; 
--black_900:#000000; 
--black_900_28:#00000028; 
--gray_700_33:#63636333; 
--gray_800_7e:#3c3c3c7e; 
--black_900_26:#00000026; 
--indigo_A200_33:#546ef633; 
--gray_600:#7e7e7e; 
--black_900_a2:#000000a2; 
--gray_800:#3c3c3c; 
--gray_900:#272727; 
--blue_50:#eff1ff; 
--gray_100:#f1f3ff; 
--indigo_500_19:#383dc019; 
--black_900_99:#00000099; 
--gray_900_b2:#272727b2; 
--gray_500_33:#959da533; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_500:#384fc6; 
}